<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
  <select id="MemberView" resultType="com.vo.member.MemberVo">
    select * from member
  </select>
  
  <select id="MemberFind" resultType="">
  	select * from member where no=#{no}
  </select>
  
  <insert id="MemberInsert" >
  	 insert into member   (no,id,pw,n_id,tel,sido,gu,doro,d_juso,postnum,email,u_sex,u_birthday,u_name,u_enrollday,status,manage,petnum,friend,f_id)
  values (seq_no.nextval,#{id},#{pw},#{n_id},#{tel},#{sido},#{gu},#{doro},#{d_juso},#{postnum},#{email},#{u_sex},#{u_birthday},#{u_name},#{u_enrollday},#{status},#{manage},#{petnum},#{friend},#{f_id})
  </insert>
  
  <delete id="MemberDelete" >
  	delete from member where no=#{no}
  </delete>
  
  <update id="MemberUpdate" parameterType="int">
  	update member set price=#{price} where no=#{no}
  </update>
  
  
<!--   select productAll = new select(select * from Product); -->
</mapper>